// Your variable overrides
$theme-colors: (
  "primary": #b2cd56,
);
// Bootstrap Import
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/utilities/spacing";

body,html{
    height:calc(100% - 2em);
    margin:0;

}
body{
    background: #c9de96;
    background: -moz-linear-gradient(45deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
    background: -webkit-linear-gradient(45deg, #c9de96 0%,#8ab66b 44%,#398235 100%);
    background: linear-gradient(45deg, #c9de96 0%,#8ab66b 44%,#398235 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
aside{
    color:#fff;
    display: grid;
    grid-template-columns: auto 40px ;
    padding: 2em;
}
.menu-icon{
    font-size:1.8em;
    color:#fff;
    cursor: pointer;
}
figure{
    margin:0;
}
figcaption{
    font-size: 1.3em;
    font-weight: bold;
}
.avatar{
    display: none;
}
.avatar.mobile{
    display:block;
    width: 70%;
    margin: 2em auto 1em auto;
}
nav{
    background: #fff;
}

.menu{
    position: absolute;
    left: -50%;
    top:0;
    list-style-type: none;
    margin:0;
    padding:0;
    width: 0%;
    transition: all 300ms ease-out;
}
.menu.active{
    position: absolute;
    width: 50%;
    left: 0;
    top:0;
    height: 100%;
    background: #fff;
    z-index: 9999;
}
.menu .menu-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 2em 3em;
    background-color: $gray-300;
    color:#000;
    transition: all 300ms ease-out;
}
.menu .menu-item a.active{
    background-color: #fff;
}
main{
    background: #fff;
    padding: 1em 1.4em;
}
h2{
    margin:0;
    font-size:1.2em;
}
.list-content{
    margin-top: 20px
}
.list-group-item span{
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 20px;
}
.list-group a img{
    width: 6em;
}

@media only screen and (min-width: 768px){
    body{
        display:grid;
        grid-template-columns: 20% auto;
        padding:2em;
    }
    aside{
        background: #eee;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }
    .menu-icon {
        display: none !important;
    }
    main{
        padding: 4em;
        background: #fff;
        background-size: 70%;
        overflow: auto;
    }
    .avatar{
        display: block;
        width: 70%;
        margin: 2em auto 1em auto;
    }
    .avatar.mobile{
        display:none;
    }
    figcaption{
        text-align: center;
        color:#444;
        display: none;
    }
    h2{
        font-size:1.6em;
    }
    .menu{
        display: block;
        margin-top: 2em;
        position: relative !important;
        left: 0;
        background: none !important;
        width: 100% !important
    }
    .menu .menu-item a:hover{
        background-color: #fff;
    }
    .menu .menu-item a.active{
        background-color: #fff;
    }
    .menu-item a i{
        color: $gray-900;
        font-size: 1.2em;
    }
    nav{
        background: none;
    }
    .list-group-item span{
        font-size: 1.6em;
        padding-left: 10px;
    }
    .list-group a img{
        width: auto;
    }
    .card-img-top{
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
    }
    
   
}
