<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Simple Crud SPA for Inchurch">
        <meta name="keywords" content="Inchurch, church, SPA, CRUD, API">
        <meta name="author" content="Calleu Fuzi">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Crud - Inchurch</title>
        <base href="/">    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
        <link rel="stylesheet" href="./css/main.css">  
    </head>
    <body ng-controller="MainController">
        <aside>
            <figure>
                <img class="avatar" src="./assets/logo-act.png" alt="logo - Inchurch">
                <figcaption>Inchurch</figcaption>
            </figure>
            <i class="fas fa-bars menu-icon" ng-click="open = !open"></i>
            <nav>
                <ul ng-class="{active:open}"  class="menu">
                    <img class="avatar mobile" src="./assets/logo-act.png" alt="logo - Inchurch">
                    <li class="menu-item" >
                        <a href="/" ng-click="isSelected('list')" ng-class="{active:isList}"><i class="fas fa-users pr-3"></i>List Users</a>
                    </li>
                    <li class="menu-item">
                        <a href="/addUser" ng-click="isSelected('add')" ng-class="{active:isAdd}"><i class="fas fa-user-plus pr-3"></i>Add User</a>
                    </li>
                </ul>
            </nav>
        </aside>        
        <main>
            <div ng-view></div>
        </main>        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
        <script src="app.js"></script>
        <script src="./js/controllers/main.controller.js"></script>
        <script src="./js/users.factory.js"></script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>