<h2 class="top-title"><i class="fas fa-user-plus pr-2"></i>User Add Form</h2>
<!-- User Add form -->
<form class="mt-4" name="addUserForm" novalidate="">
    <div class="form-group">
        <label>Name</label>
        <input ng-model="user.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your name here" required>
    </div>
    <div class="form-group">
        <label>Job</label>
        <input ng-model="user.job" type="text" class="form-control" placeholder="Enter your Job here" required>
    </div>
    <button type="submit" class="col-sm col-md-2 btn btn-primary" ng-click="addUser(user)" ng-disabled="addUserForm.$invalid">Create</button>
</form>

<div class="card mt-4">
  <div class="card-header">
      User added Recently
  </div>
  <ul class="list-group list-group-flush">
    <li ng-repeat="user in newUsers" class="list-group-item">{{user.name}}</li>
  </ul>
</div>

<div class="modal fade" id="addSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Success!</h5>
      </div>
      <div class="modal-body">
        <p>User {{newUser.name}} is added successfully</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="col-sm col-md-2 btn btn-secondary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
