<h2 class="top-title"><i class="fas fa-users pr-2"></i> User List</h2>
<div class="list-content" ng-init="listUsers()" ng-hide="dataLoaded">
    <div class="list-group"  >
        <a ng-repeat="user in users" class="list-group-item list-group-item-action animated fadeIn" ng-click="goToProfile(user)">
                <!-- ng-href="/profile/{{user.id}}" -->
            <img ng-src="{{user.avatar}}" alt="">
            <span>{{user.first_name}} {{user.last_name}}</span>
        </a>
    </div>
</div>