<div ng-if="innerUser" class="profile-content row justify-content-center">
        <div class="card animated fadeIn" style="width: 25rem;">
          <img class="card-img-top" ng-src="{{innerUser.avatar}} " title="{{innerUser.first_name}} photo" alt="{{innerUser.first_name}}, photo, avatar">
          <div class="card-body">
            <h5 class="card-title">{{innerUser.first_name}} {{innerUser.last_name}}</h5>
              <a href="#" class="col btn btn-primary" data-target="#editModal"  data-toggle="modal">Edit</a>
              <p class="col-auto"></p>
              <a href="#" class="col btn btn-primary" ng-click="removeUser(id)">Remove</a>
          </div>
        </div>
      
        <div class="modal fade" id="removeSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Success!</h5>
                </div>
                <div class="modal-body">
                  <p>User {{innerUser.first_name}} is removed successfully</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="goToList()">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
        
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit User</h5>
                </div>
                <div class="modal-body">
                  <form name="editForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input ng-model="user.newName" type="text" class="form-control" placeholder="Enter new name here" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Job</label>
                        <input ng-model="user.newJob" type="text" class="form-control" placeholder="Enter new Job here" required>
                    </div>
                    </form>
                </div>
              </form>
                <div class="modal-footer">
                    <button type="button" class="col btn btn-outline-primary" data-dismiss="modal" >Close</button>
                  <button type="button" class="col btn btn-primary" ng-click="editUser(user, id)" ng-disabled="editForm.$invalid">Salvar</button>
                </div>
              </div>
            </div>
          </div>